// Grid settings
// -------------------------

// $grid-columns:          16;
// $main-sm-columns:       $grid-columns;
// $sidebar-sm-columns:    4;
 // $grid-gutter-width:     25px;
 // $line-height-base: 	1.428571429;

 // $screen-sm-min:		768px;
 // $screen-md-min:		992px;		
 // $screen-lg-min:		1200px;


// Brand colors
// -------------------------

// $link-color:					#cc0000;
// $link-hover-color:				darken(#cc0000, 15%);
// $brand-red:       				#cc0000;
// $brand-light-gray: 	    		#dddddd;
// $brand-gray: 	        		#858585;
// $brand-medium-gray:     		#555555;
// $brand-smoke:	      			#262626;
// $brand-smoke-hover:	      		darken(#262626, 15%);
// $brand-canvas: 	        		#ffffff;

// $background-header:	    		#858585;

// $font-primary-headers: 	 		#ffffff;
// $font-primary-headers-hover:	darken(#ffffff, 15%);

// $font-secondary-headers: 		#cc0000;
// $font-primary-body: 			#000000;


// Brand fonts
// -------------------------
$font-family-primary: 	 'Open Sans', sans-serif;
$font-family-light:	 'Open Sans Light', sans-serif; 



// Font sizes
// -------------------------

$font-size-body:				16px;
$font-size-header: 				45px;
// $font-size-widget-title: 		18px;
// $font-size-widget-header: 		15px;
// $font-size-widget-date: 		11px;


// Glyphicons path
// -------------------------

$icon-font-path:        "../vendor/bootstrap-sass/assets/fonts/bootstrap/";








